<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>
    <runtime>
       <NetFx40_LegacySecurityPolicy enabled="true"/>
    </runtime>
  <connectionStrings configSource="connections.config"/>
    <!--<connectionStrings configSource="connections.config">
        -->
      <!--<add name="iPosReporting.Properties.Settings.iPosString" connectionString="data source=localhost;initial catalog=&quot;C:\IposProject\ipos\iPos\bin\Debug\sampdata\IPOSDB.fdb&quot;;user id=sysdba;password=masterkey"
            providerName="FirebirdSql.Data.FirebirdClient" />-->
      <!--
    </connectionStrings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
